include ./lib/header.jade
    script(language="javascript",src="/static/js/portal/portal.min.js")
    link(href="/static/css/portal/portal.css",rel="stylesheet",type="text/css")
    body
        div.body
            div.title
                div.left-menu=""
                div.title-background=""
                div.right-number=""
            section.move.page1
                div.top-banner=""
                div.bottom-banner-view=""
                div.bottom-banner-view-text=""
                div.conner=""
            section.move.page2
                div.p2-banner=""
                div.conner=""
            section.move.page3
                div.p3-text=""
                div.know-more=""
                div.bottom-banner=""
                div.conner=""
            section.move.page4
                div.p4-title=""
                div.button-area
                    div.line
                        div.left-button.little-cource=""
                        div.right-button.space-rebuild=""
                    div.line
                        div.left-button.five-can=""
                        div.right-button.option=""
                    div.line
                        div.left-button.get-first=""
                        div.right-button.perfect-in=""
                    div.line
                        div.left-button.big-buy=""
                        div.right-button.drive-success=""
                    div.line
                        div.left-button.hot-person=""
                        div.right-button.throw-money=""
                div.footer
                    div.know-more=""
                    div.tab-map=""
                    div.score-rank=""
