include ./lib/header.jade
    script(language="javascript",src="/static/js/portal/portal.min.js")
    link(href="/static/css/portal/portal.css",rel="stylesheet",type="text/css")
    body
        div.body
            div.title
                div.left-menu=""
                div.title-background=""
                {% if type == 'A' %}
                div.right-number(style="background-color:#0189df;") {{ code }}
                {% elif type == 'B' %}
                div.right-number(style="background-color:#61a58a;") {{ code }}
                {% elif type == 'C' %}
                div.right-number(style="background-color:#939393;") {{ code }}
                {% else %}
                div.right-number(style="background-color:#f38001;") {{ code }}
                {% endif %}
            section.move.page1
                div.top-banner=""
                div.bottom-banner-view=""
                div.bottom-banner-view-text=""
                div.conner=""
            section.move.page2
                div.p2-banner=""
                div.conner=""
            section.move.page3
                div.p3-text=""
                div.know-more=""
                div.bottom-banner=""
                div.conner=""
            section.move.page4
                div.p4-title=""
                div.button-area
                    div.line
                        div.left-button.little-cource
                            {% if user.littleCourceJoined %}
                            div.correct=""
                            {% endif %}
                        div.right-button.space-rebuild=""
                            {% if user.spaceRebuild %}
                            div.correct=""
                            {% endif %}
                    div.line
                        div.left-button.five-can=""
                            {% if user.fiveCanJoined %}
                            div.correct=""
                            {% endif %}
                        div.right-button.option=""
                            {% if user.optionJoined %}
                            div.correct=""
                            {% endif %}
                    div.line
                        div.left-button.get-first=""
                            {% if user.getFirstJoined %}
                            div.correct=""
                            {% endif %}
                        div.right-button.perfect-in=""
                            {% if user.perfectInJoined %}
                            div.correct=""
                            {% endif %}
                    div.line
                        div.left-button.big-buy=""
                            {% if user.bigBuyJoined %}
                            div.correct=""
                            {% endif %}
                        div.right-button.drive-success=""
                            {% if user.driveSuccessJoined %}
                            div.correct=""
                            {% endif %}
                    div.line
                        div.left-button.hot-person=""
                            {% if user.hotPersonJoined %}
                            div.correct=""
                            {% endif %}
                        div.right-button.throw-money=""
                            {% if user.throwMoneyJoined %}
                            div.correct=""
                            {% endif %}
                div.footer
                    div.know-more=""
                    div.tab-map=""
                    div.score-rank=""
