include ./lib/header.jade
    link(href="/static/css/portal/taskList.css",rel="stylesheet",type="text/css")
    body
        section.header=""
        section.body
            div.title=""
            div.button-area
                div.line
                    div.left-button.little-cource=""
                    div.right-button.space-rebuild=""
                div.line
                    div.left-button.five-can=""
                    div.right-button.option=""
                div.line
                    div.left-button.get-first=""
                    div.right-button.perfect-in=""
                div.line
                    div.left-button.big-buy=""
                    div.right-button.drive-success=""
                div.line
                    div.left-button.hot-person=""
                    div.right-button.throw-money=""
        section.footer
            div.know-more=""
            div.tab-map=""
            div.score-rank=""
    script(src="/static/js/portal/taskList.min.js")
